/* @font-face {
    font-family: 'MyCustomFont';
    src: url('./Freeform\ 721\ Black\ BT.ttf 721 Black BT.ttf') format('truetype'); 
    font-style: normal;
  }
  
  .my-custom-font {
    font-family: 'MyCustomFont', sans-serif;
  } */